*{
  box-sizing: border-box;
}

body{
  font-size: 14px;
  font-family: 'Titillium Web', sans-serif;
  background-color:rgb(0,0,0);
  color:#FEFEFE;
  height: 100vh;
}

a{
  color:#FF0042;
  font-weight: bolder;
  text-decoration: none;
}

h1{
  font-size:16px;
  font-weight: bolder;
}

/* ########################################### */
/*           Forums.html                       */
/* ########################################### */
.container{
  margin: 30px auto auto auto;
  padding: 50px;
  width: 100%;
  position: relative;
}

.subforum{
  margin-top:20px;
}

.subforum-title{
  background-color:#292B2E;
  padding: 5px;
  border-radius: 5px;
  margin:4px;
}

.subforum-row{
  display: grid;
  grid-template-columns: 7% 80% 13%;
}

.subforum-column{
  padding: 10px;
  margin:4px;
  border-radius: 5px;
  background-color:#111314;
}

.subforum-description *{
  margin-block: 0;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.subforum-icon i{
  font-size: 45px;
}

.subforum-devider{
  display: none;
}

/* For the smartphones */
@media screen and (max-width: 1000px) {
  .container{
      margin: 10px;
      padding: 10px;
  }

  .subforum-row{
      display: grid;
      grid-template-columns: 25% 75%;
      grid-template-rows: 65% 35%;
  }

  .subforum-devider{
      display: block;
      border: 0;
      height: 1px;
      background-image: linear-gradient(to right, rgba(190, 190, 190, 0), rgba(255, 255, 255, 0.75), rgba(190, 190, 190, 0));
  }
}

.feedbackFormContainer {
  width: 70%;
  height: 60%;
  min-width: 420px;
  padding: 35px 50px;
  padding-bottom: 10%;
  background: white;
  position: relative;
  border-radius: 10px;
  box-shadow: 20px 30px 25px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
}
.feedbackFormTitle {
  color: #1c093c;
  font-size: 30px;
  text-align: center;
}
.feedbackFormDesc {
  position: relative;
  margin: auto;
  width: 100%;
  text-align: center;
  color: #606060;
  font-size: 14px;
  font-weight: 400;
}
.feedbackForm {
  width: 100%;
  position: relative;
  margin: 30px auto 0 auto;
}
.row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  grid-gap: 20px 30px ;
  margin-bottom: 20px;
}
.inputLabels {
  color: #1c093c;
  font-size: 14px;
}
input {
  color: #1c093c;
  font-size: 14px;
}
.feedbackFormInputs {
  width: 100%;
  font-weight: 400;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1.2px solid #c4cae0;
  margin-top: 5px;
}
#issue {
  resize: none;
}
.feedbackFormInputs:focus {
  outline: none;
  border-color: var(--primary-color);
}
.submit
{
  border: none;
  padding: 10px 20px;
  background: whitesmoke;
  border-radius: 4px;
}
.submit:hover
{
  background: var(--primary-color);
  color: white;
}