*{
  box-sizing: border-box;
  color:#FEFEFE;
  text-transform: none;
}

a{
  color:#FF0042;
  font-weight: bolder;
  text-decoration: none;
}

h1{
  font-size:16px;
  font-weight: bolder;
}

/* ########################################### */
/*           Forums.html                       */
/* ########################################### */
.container{
  min-height: calc(100vh - 267px);
  margin-top: 80px;
  padding: 50px;
  width: 100%;
  position: relative;
}

.subforum{
  margin-top:20px;
}

.subforum-title{
  background-color:#292B2E;
  padding: 5px;
  border-radius: 5px;
  margin:4px;
}

.subforum-row{
  display: grid;
}

.no-admin {
  grid-template-columns: 7% 80% 13%;

}

.admin {
  grid-template-columns: 7% 70% 13% 10%;
}

.adminBtns {
  margin: auto;
  background: transparent;
  outline: none;
  border: none;

}

.subforum-column{
  padding: 10px;
  margin:4px;
  border-radius: 5px;
  background-color:#111314;
}

.subforum-description *{
  margin-block: 0;
}

.forumTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.subforum-icon i{
  font-size: 45px;
}

.subforum-devider{
  display: none;
}

/* For the smartphones */
@media screen and (max-width: 1000px) {
  .container{
      margin: 10px;
      padding: 10px;
  }

  .subforum-row{
      display: grid;
      grid-template-columns: 25% 75%;
      grid-template-rows: 65% 35%;
  }

  .subforum-devider{
      display: block;
      border: 0;
      height: 1px;
      background-image: linear-gradient(to right, rgba(190, 190, 190, 0), rgba(255, 255, 255, 0.75), rgba(190, 190, 190, 0));
  }
}

.feedbackFormContainer {
  width: 70%;
  min-width: 420px;
  padding: 35px 50px;
  background: white;
  position: relative;
  border-radius: 10px;
  box-shadow: 20px 30px 25px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  margin-bottom: 5%;
}
.feedbackFormTitle {
  color: #1c093c;
  font-size: 30px;
  text-align: center;
}
.feedbackFormDesc {
  position: relative;
  margin: auto;
  width: 100%;
  text-align: center;
  color: #606060;
  font-size: 14px;
  font-weight: 400;
}
.feedbackForm {
  width: 100%;
  position: relative;
  margin: 30px auto 0 auto;
}
.row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  grid-gap: 20px 30px ;
  margin-bottom: 20px;
}
.inputLabels {
  color: #1c093c;
  font-size: 14px;
}
.feedbackFormInputs {
  color: #1c093c;
  font-size: 14px;
  width: 100%;
  font-weight: 400;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1.2px solid #c4cae0;
  margin-top: 5px;
}
#issue {
  resize: none;
}
.feedbackFormInputs:focus {
  outline: none;
  border-color: var(--primary-color);
}
.submit
{
  border: none;
  padding: 10px 20px;
  background: lightgray;
  border-radius: 4px;
  color: black
}
.submit:hover
{
  background: var(--primary-color);
  color: white;
}

/* Dropdown CSS */
.module .trigger {
  position: relative;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  border-radius:22px;
  width: max-content;
  margin-top: 3px;
  margin-bottom: 15px;
}

.module .trigger span {
  font-weight: 100;
  letter-spacing: 0px;
  font-size: 13px;
  position: relative;
  background: white;
  color: #555;
  display: block;
  min-width: 0;
  width: max-content;
  height: 28px;
  padding: 5px 18px;
  z-index: 1;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 13px;
  transition: 350ms border-radius 700ms, 700ms color 700ms, 350ms min-width 700ms;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}

.module .trigger ul.objects {
  position: absolute;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  background: white;
  border-radius: 0 0 22px 22px;
  border: 1px solid black;
  font-size: 14px;
  overflow: hidden;
  transform: scaley(0);
  transform-origin: top;
  transition: 350ms transform 350ms;
}

.module .trigger ul.objects li {
  top: 0;
  left: 0;
  width: 300px;
  height: 44px;
  padding: 0 20px;
  z-index: 0;
  opacity: 0;
  transition: 350ms opacity 0ms;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  border-left: 0px solid #eee;
  transition: 200ms border-left 0ms;
}

.module .trigger ul.objects li:last-of-type {
  border-radius: 0 0 22px 22px;
}

.module .trigger ul.objects li:hover {
  border-left: 10px solid var(--primary-color);
  cursor: pointer;
}

.module .trigger:hover span {
  min-width: 300px;
  border-radius: 22px 22px 0 0;
  transition: 350ms border-radius 0ms, 700ms color 700ms, 350ms min-width 100ms;
  color: #cccccc;
}

.module .trigger:hover ul.objects {
  transform: scaley(1);
  transition: 350ms transform 350ms;
}

.module .trigger:hover ul.objects li {
  opacity: 1;
  transition: 350ms opacity 700ms;
  color: black;
}
.fa-caret-down {
  color: black;
  margin-left: 1rem;
}