<body>
    <div class="container">
        <div *ngFor="let subForumItem of forumList | keyvalue; let i = index" class="subforum">
            <div class="subforum-title">
                <h1>{{subForumItem.key}}</h1>
            </div>
            <div *ngFor="let forumItem of subForumItem.value; let j = index">
                <hr *ngIf="j !== 0" class="subforum-devider">
                <div class="subforum-row">
                    <div class="subforum-icon subforum-column center">
                        <i class="bi bi-chat-left-dots-fill"></i>
                    </div>
                    <div class="subforum-description subforum-column">
                        <a [routerLink]="['/viewcomments', forumItem.id]">{{forumItem.subject}}</a>
                        <p>Description: {{forumItem.description}}</p>
                    </div>
                    <div class="subforum-stats subforum-column center">
                        <span>{{commentNum[i][j].length}} comments</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body> 