<body>
    <div class="container">
        <div *ngFor="let subForumItem of forumList | keyvalue" class="subforum">
            <div class="subforum-title">
                <h1>{{subForumItem.key}}</h1>
            </div>
            <div *ngFor="let forumItem of subForumItem.value; let i = index">
                <hr *ngIf="i !== 0" class="subforum-devider">
                <div class="subforum-row">
                    <div class="subforum-icon subforum-column center">
                        <i class="bi bi-chat-left-dots-fill"></i>
                    </div>
                    <div class="subforum-description subforum-column">
                        <a *ngIf="!forumItem.feedback" [routerLink]="['/forumpage']">{{forumItem.subject}}</a>
                        <a *ngIf="forumItem.feedback" [routerLink]="">{{forumItem.subject}}</a>
                        <p>Description Content: {{forumItem.description}}</p>
                    </div>
                    <div class="subforum-stats subforum-column center">
                        <span>24 Posts | 12 Topics</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>