<div class="cardContainer">
  <div class="outer-div" (mouseenter)="onHover()" (mouseleave)="noHover()">
      <div class="inner-div">
        <div class="front">
          <div class="front_bkg-photo"></div>
          <img src="{{user?.pfp ?? ''}}" class="front_face-photo">
          <div class="front_text">
            <h3 class="front_text-header">{{user?.username ?? ''}}</h3>
            <p *ngIf="own" class="front_text-para"><i class="fa-solid fa-envelope"></i> {{user?.email ?? ''}}</p>
            <p class="front_text-para"><i class="fa-solid fa-address-card"></i> {{user?.role ?? ''}}</p>
            <span class="front_text-hover">Hover Over Me!</span>
          </div>
        </div>
        <div class="back">
          <div class="social-media-wrapper">
            <div class="row socials">
              <a target="_blank" href="{{user?.socials?.facebook ?? ''}}" class="social-icon"><i class="fa-brands fa-facebook-square"></i></a> 
              <a target="_blank" href="{{user?.socials?.github ?? ''}}" class="social-icon"><i class="fa-brands fa-github-square"></i></a>
              <a target="_blank" href="{{user?.socials?.linkedIn ?? ''}}" class="social-icon"><i class="fa-brands fa-linkedin"></i></a>
              <a target="_blank" href="{{user?.socials?.instagram ?? ''}}" class="social-icon"><i class="fa-brands fa-instagram-square"></i></a>
            </div>
            <button (click)="editFormShowHide()" type="button" class="social-icon toggleEditProf"><i class="fa-solid fa-pen-to-square"></i> Edit Profile</button>
          </div>
          <a *ngIf="own" routerLink="editProfile" class="editOrif"></a>
        </div>
      </div>
  </div>
  <div *ngIf="own && showEditForm" class="editProfFormContainer">
    <div class="profile">
      <div class="content">
        <h1>Edit Profile</h1>
        <form [formGroup]="editForm" (ngSubmit)="updateProfile()">
          <!-- Photo -->
          <fieldset>
            <div class="grid-35">
              <label for="avatar">Your Photo</label>
            </div>
            <div class="grid-65">
              <label for="pfp" class="pfpLabel">
                <span class="photo" style="background-image: url({{pfp}})" title="Upload your Avatar!"></span>
                <input id="pfp" style="display: none" type="file" (change)="onUploadImg($event)" accept="image/png, image/gif, image/jpeg"/>
              </label>
            </div>
          </fieldset>
          <!-- Username -->
          <fieldset>
            <div class="grid-35">
              <label for="username">Username</label>
            </div>
            <div class="grid-65">
              <input formControlName="username" type="text" id="username"/>
            </div>
          </fieldset>
          <!-- Email -->
          <fieldset>
            <div class="grid-35">
              <label for="email">Email Address</label>
            </div>
            <div class="grid-65">
              <input formControlName="email" type="email" id="email"/>
            </div>
          </fieldset>
          <!-- Password -->
          <fieldset>
            <div class="grid-35">
              <label for="password">Password</label>
            </div>
            <div class="grid-65">
              <input formControlName="password" type="password" id="password"/>
            </div>
          </fieldset>
          <!-- Socials -->
          <div [class]="{show: !hideSocials}" class="dropdownMenu">
            <fieldset>
              <div class="grid-35">
                <label for="facebook">Facebook Link</label>
              </div>
              <div class="grid-65">
                <input formControlName="fb" type="text" id="facebook"/>
              </div>
            </fieldset>
            <fieldset>
              <div class="grid-35">
                <label for="github">Github Link</label>
              </div>
              <div class="grid-65">
                <input formControlName="github" type="text" id="github"/>
              </div>
            </fieldset>
            <fieldset>
              <div class="grid-35">
                <label for="linkedIn">LiinkedIn Link</label>
              </div>
              <div class="grid-65">
                <input formControlName="linkedIn" type="text" id="linkedIn"/>
              </div>
            </fieldset>
            <fieldset>
              <div class="grid-35">
                <label for="instagram">Instagram Link</label>
              </div>
              <div class="grid-65">
                <input formControlName="ig" type="text" id="instagram"/>
              </div>
            </fieldset>
          </div>
          <div class="menuBtnContainer">
            <button (click)="hideSocials = !hideSocials" type="button" class="dropdownMenuBtn">{{hideSocials ? "Open" : "Close"}} Social Section <i [class]="{'fa-angle-down': hideSocials, 'fa-angle-up': !hideSocials}" class="fa-solid "></i></button>
          </div>
          <fieldset>
            <input type="submit" class="Btn" value="Save Changes" />
            <input (click)="showEditForm = false" type="button" class="Btn cancel" value="Cancel" />
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>