<div class="cardContainer">
  <div class="outer-div">
      <div class="inner-div">
        <div class="front">
          <div class="front_bkg-photo"></div>
          <div class="front_face-photo"></div>
          <div class="front_text">
            <h3 class="front_text-header">Admin</h3>
            <p class="front_text-para"><i class="fas fa-map-marker-alt front-icons"></i>Singapore</p>
            
            <span class="front_text-hover">Hover for Social Links</span>
          </div>
        </div>
        <div class="back">
          <div class="social-media-wrapper">
            <a routerLink="" class="social-icon"><i class="fa-brands fa-facebook-square"></i></a> 
            <a routerLink="" class="social-icon"><i class="fa-brands fa-github-square"></i></a>
            <a routerLink="" class="social-icon"><i class="fa-brands fa-linkedin"></i></a>
            <a routerLink="" class="social-icon"><i class="fa-brands fa-instagram-square"></i></a>
          </div>
        </div>
      </div>
  </div>
</div>