<div class="backgroundGradient"></div>
<section>
    
    <div class="box">
        
        <div class="square" style="--i:0;"></div>
        <div class="square" style="--i:1;"></div>
        <div class="square" style="--i:2;"></div>
        <div class="square" style="--i:3;"></div>
        <div class="square" style="--i:4;"></div>
        <div class="square" style="--i:5;"></div>
        
        <div class="container"> 
            <div class="form"> 
            <h2>Forgot your password?</h2>
            <h5>Please enter your registered email</h5>
            <form *ngIf="!reset" [formGroup]="sendEmailForm" (ngSubmit)="sendEmailSubmit(sent)">
                <div class="inputBx">
                    <input type="email" class="input" formControlName="email">
                    <span>Email</span>
                </div>
                <div class="inputBx">
                    <input type="submit" value="Send Request" [disabled]="!sendEmailForm.valid"> 
                </div>
            </form>
            <form *ngIf="reset" [formGroup]="resetPassForm" (ngSubmit)="resetPassSubmit()">
                <div class="inputBx">
                    <input type="text" class="resetPassInputs input" formControlName="pass1" style="margin-bottom: 20px;">
                    <span style="width: 55px">Password</span>
                </div>
                <div *ngIf="showErr">
                <div *ngIf="resetPassForm.get('pass1')?.hasError('required')" class="invalidForm"><h5>Please enter your password</h5></div>
                <div *ngIf="resetPassForm.get('pass1')?.hasError('minlength') || resetPassForm.get('pass1')?.hasError('maxlength')" class="invalidForm"><h5>Password should be between 6 to 40 characters long</h5></div>
                </div>
                <div class="inputBx">
                    <input type="text" class="resetPassInputs input" formControlName="pass2">
                    <span style="width: 55px">Confirm Password</span>
                </div>
                <div *ngIf="showErr">
                <div *ngIf="resetPassForm.get('passwords')?.hasError('notMatch')" class="invalidForm"><h5>Passwords must match</h5></div>
                </div>
                <div class="inputBx">
                    <input type="submit" value="Send Request" [disabled]="!resetPassForm.valid"> 
                </div>
            </form>
            <p>Have an Account? <a routerLink="/login">Click Here</a></p>
            <p>First time here? <a routerLink="/register">Sign up</a></p>
            </div>
        </div>
    </div>
</section>

<ng-template #sent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h1 class="modal-title" id="modal-basic-title">{{result}}</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="col">
            <h3>{{result}}</h3>
        </div>
    </div>
</ng-template>