<div class="backgroundGradient"></div>
<section>
    
    <div class="box">
        
        <div class="square" style="--i:0;"></div>
        <div class="square" style="--i:1;"></div>
        <div class="square" style="--i:2;"></div>
        <div class="square" style="--i:3;"></div>
        <div class="square" style="--i:4;"></div>
        <div class="square" style="--i:5;"></div>
        
        <div class="container"> 
        <div class="form"> 
        <h2>Forgot your password?</h2>
        <h5>Please enter your registered email</h5>
        <form action="">
            <div class="inputBx">
            <input type="text" required="required">
            <span>Email</span>
            <i class="fas fa-user-circle"></i>
            </div>
            <div class="inputBx">
            <input type="submit" value="Send Request" disabled> 
            </div>
        </form>
        <p>Have an Account? <a routerLink="/login">Click Here</a></p>
        <p>First time here? <a routerLink="/register">Sign up</a></p>
        </div>
    </div>
        
    </div>
</section>