@keyframes snow-fall {
   from {
      top: -15%;
   }
   to {
      top: 100%;
   }
}
@keyframes snowflake-sway {
   0% {
      transaform: translateX(0px);
   }
   50% {
      transform: translateX(75px);
   }
   100% {
      transform: translateX(0px);
   }
}