body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f0f0f0;
    min-height: 100vh;
  }

  * {
    color: white;
  }

  
  /* GRID SYSTEM */
  
  .container-page{
    position: relative;
    padding: 4rem 2rem;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 38% 55%;
    column-gap: 70px;
    row-gap: 50px;
  }
  
  /*BUDGET FORM*/
  
  #budget-container {
    border: 2px solid #82e166;
    padding: 1rem;
    border-radius: 5px;
    order: 1;
    background: black;
  }
  
  #budget-container label {
    display: block;
    font-size: 1.5rem;
  }
  
  #budget-container input {
    width: 95%;
    display: block;
    margin: 25px 0;
    padding: 0.25rem;
    font-size: 1.4rem;
    border-radius: 5px;
    border: 1px solid #82e166;
    outline: #82e166;
  }
  #budget-container input:focus {
    box-shadow: 0 0 5px 0px black; /* blurr effect */
  }
  
  #budget-container button {
    display: block;
    padding: 0.5rem 0.75rem;
    background: transparent;
    border: 1px solid #82e166;
    color: #82e166;
    margin-top: 35px;
    outline: none;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
  }
  
  #budget-container button:hover {
    background: #82e166;
    color: white;
    cursor: pointer;
  }
  
  #budget-container button:active {
    background: darkgreen;
  }
  
  /*EXPENSE FORM*/
  
  #expenseEntry-container {
    border: 2px solid #ff686b;
    padding: 0.75rem;
    border-radius: 5px;
    order: 3;
    background: black;
  }
  
  #expenseEntry-container label {
    display: block;
    font-size: 1.2rem;
  }
  
  #expenseEntry-container input {
    width: 95%;
    display: block;
    margin: 10px 0;
    padding: 0.25rem;
    font-size: 1.4rem;
    border-radius: 5px;
    border: 1px solid #ff686b;
    outline: #ff686b;
  }
  
  #expenseEntry-container input:focus {
    box-shadow: 0 0 5px 0px black; /* blurr effect */
  }
  
  #expenseEntry-container button {
    display: block;
    padding: 0.5rem 0.75rem;
    background: transparent;
    border: 1px solid #ff686b;
    color: #ff686b;
    margin: 5px 0;
    font-size: 1rem;
    outline: none;
  }
  
  #expenseEntry-container button:hover {
    cursor: pointer;
    background-color: #ff686b;
    color: white;
    transition: all 0.2s ease-in-out;
  }
  
  #expenseEntry-container button:active {
    background-color: rgb(97, 0, 0);
  }
  
  /* BALANCE DISPLAY SECTION*/
  
  #balanceDisplay-container {
    display: flex;
    justify-content: space-between;
    order: 2;
  }
  
  #balanceDisplay-container > * {
    padding: 0.25rem;
  }
  
  #balanceDisplay-container i {
    /*font awesome icons */
    font-size: 4rem;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 20px 0;
  }
  .expense {
    color: #ff686b;
  }

  .balance {
    color: #82e166;
  }
  
  #balanceDisplay-container h2 {
    text-transform: uppercase;
    text-align: center;
    color: white;
    margin: 0;
  }
  
  #balanceDisplay-container .moneyOutput {
    font-size: 2.25rem;
    text-align: center;
    margin: 0;
  }
  
  .text-red {
    color: #ff686b;
  }
  .text-green {
    color: #82e166;
  }
  
  /*EXPENSES DISPLAY*/
  #expenses-container {
    /* border: 1px solid black; */
    order: 4;
    width: 100%;
    height: 230px;
    overflow-y: scroll;
    background: black;
    border: 1px solid #f0f0f0;
  }
  #table-list {
    width: 100%;
    padding: 0;
  }
  
  #expenses-container h2 {
    font-size: 1.1rem;
  }
  
  #table-list th {
    text-align: left;
    padding: 0.5rem;
    font-size: 1.1rem;
    border-bottom: 1px solid rgb(119, 119, 119);
  }
  
  #table-list td {
    padding: 0.5rem;
    color: rgb(180, 0, 0);
    font-size: 1.4rem;
    border-bottom: 1px solid lightgray;
  }
  
  .icons {
    text-align: right;
  }
  #table-list i {
    margin-bottom: 8px;
    font-size: 1.5rem;
    padding: 0 0.2rem;
    cursor: pointer;
  }
  
  #table-list i:hover {
    color: black;
  }
  
  .editBtn {
    color: rgb(0, 53, 122);
  }
  
  .removeBtn {
    color: rgb(180, 0, 0);
  }
  
  /* ERROR MESSAGES */
  .error-active {
    margin-top: 10px;
    padding: 1rem;
    font-size: 1.1rem;
    background: rgb(255, 95, 95);
    color: white;
  }
  
  /* MEDIA QUERY FOR RESPONSIVE DESIGN */
  @media screen and (max-width: 1100px) {
    #outter-container {
      column-gap: 20px;
    }
  }
  @media screen and (max-width: 760px) {
    #outter-container {
      grid-template-columns: 1fr;
      row-gap: 30px;
    }
    #budget-container {
      order: 1;
    }
    #expenseEntry-container {
      order: 2;
    }
    #balanceDisplay-container {
      order: 3;
    }
    #expenses-container {
      order: 4;
    }
  }