* {
  color: white;
}


/* GRID SYSTEM */

.container-page{
  position: relative;
  margin-top: 80px;
  display: flex;
  width: 100vw;
  height: calc(100vh - 80px)
}

.column {
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.containers {
  margin: auto 0;
}

#column1 {
  width: 38%;
}

#column2 {
  width: 55%;
}

/* BUDGET FORM */

.green-border {
  border-color: #82e166;
}

.green-outline {
  outline: #82e166;
}

.green-border-bottom {
  border-bottom-color: #82e166 !important;
}

.red-border-bottom {
  border-bottom-color: #ff686b !important;
}

.red-border {
  border-color: #ff686b;
}

.red-outline {
  outline: #ff686b;
}

.btns.green-border, .balance {
  color: #82e166;
}

.btns.red-border, .expense {
  color: #ff686b;
}

.btns.green-border:hover {
  background: #82e166;
}

.btns.red-border:hover {
  background: #ff686b;
}

.btns.green-border:active {
  background: darkgreen;
}

.btns.red-border:active {
  background: rgb(97, 0, 0);
}

.containers {
  border-width: 2px;
  border-style: solid;
  padding: 1rem;
  border-radius: 5px;
  order: 1;
  background: black;
}

.containers label {
  display: block;
  font-size: 1.5rem;
}

.containers .inputs {
  width: 95%;
  display: block;
  margin: 10px 0;
  padding: 0.25rem 18px;
  font-size: 1.4rem;
  border-radius: 30px;
  border-width: 1px;
  border-style: solid;
  color: black;
}

textarea {
  resize: none;
  width: 95%;
  border-radius: 5px;
  color: black;
  /* padding: 0 1rem; */
}

.containers .inputs:focus {
  box-shadow: 0 0 5px 0px black;
}

.containers .btns {
  display: block;
  padding: 0.5rem 0.75rem;
  background: transparent;
  border-width: 1px;
  border-style: solid;
  border-radius: 2.5px;
  margin-top: 35px;
  outline: none;
  font-size: 1rem;
  transition: 0.5s ease-in-out;
}

.categorySelecter {
  transition: .5s;
  padding: 0.5rem 0.75rem;
  margin-right: 1vw;
  background: transparent;
  border-bottom: 1px solid;
  margin-bottom: 1vh;
  font-size: 1.5rem;
}

.green-border.btns:hover {
  background: #82e166;
}

.red-border.btns:hover {
  background: #ff686b;
}

.containers .btns:hover {
  color: black ;
  cursor: pointer;
}

#expenseEntry-container {
  transition: .5s ease-in-out;
}

/* BALANCE DISPLAY SECTION */

#balanceDisplay-container {
  display: flex;
  background: black;
  border: white 1px solid;
  padding: 1vh 0;
}

#balanceDisplay-container > * {
  padding: 0.25rem;
  margin: auto;
}

#balanceDisplay-container i {
  /* font awesome icons */
  font-size: 4rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

#balanceDisplay-container h2 {
  text-transform: uppercase;
  text-align: center;
  color: white;
  margin: 0;
}

#balanceDisplay-container .moneyOutput {
  font-size: 2.25rem;
  text-align: center;
  margin: 0;
}

.text-red {
  color: #ff686b;
}
.text-green {
  color: #82e166;
}

/* EXPENSES DISPLAY */
#expenses-container {
  border: 1px solid black;
  order: 4;
  width: 100%;
  height: 50vh;
  overflow-y: scroll;
  background: black;
  border: 1px solid #f0f0f0;
}
#table-list {
  width: 100%;
  padding: 0;
}

#expenses-container h2 {
  font-size: 1.1rem;
}

#table-list th {
  text-align: left;
  padding: 0.5rem;
  font-size: 1.1rem;
  border-bottom: 1px solid rgb(119, 119, 119);
}

#table-list td {
  padding: 0.5rem;
  font-size: 1.4rem;
  border-bottom: 1px solid lightgray;
}

.icons {
  text-align: right;
}
.btnSec i, .transactionBtns {
  font-size: 1.5rem;
  margin: auto;
  cursor: pointer;
}

.transactionBtns {
  background: transparent;
}

.btnSec {
  display: flex;
}

.editBtn {
  color: rgb(0, 53, 122);
}

.removeBtn {
  color: rgb(180, 0, 0);
}

/* ERROR MESSAGES */

/* MEDIA QUERY FOR RESPONSIVE DESIGN */
@media screen and (max-width: 1100px) {
  #outter-container {
    column-gap: 20px;
  }
}
@media screen and (max-width: 760px) {
  #outter-container {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  #budget-container {
    order: 1;
  }
  #expenseEntry-container {
    order: 2;
  }
  #balanceDisplay-container {
    order: 3;
  }
  #expenses-container {
    order: 4;
  }
}



/* Dropdown CSS */
.module .trigger {
  position: relative;
  box-shadow: 0px 8px 16px rgba(255, 0, 0, 0.15);
  border-radius:22px;
  width: 38%;
  margin-top: 3px;
  margin-bottom: 15px;
}

.module .trigger span {
  font-weight: 100;
  letter-spacing: 0px;
  font-size: 13px;
  position: relative;
  background: white;
  color: #555;
  display: block;
  min-width: 0;
  width: max-content;
  height: 28px;
  padding: 5px 18px;
  z-index: 1;
  cursor: pointer;
  border-radius: 13px;
  transition: 350ms border-radius 700ms, 700ms color 700ms, 350ms min-width 700ms;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}

.module .trigger ul.objects {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  background: white;
  border-radius: 0 0 22px 22px;
  font-size: 14px;
  overflow: hidden;
  transform: scaley(0);
  transform-origin: top;
  transition: 350ms transform 350ms;
}

.module .trigger ul.objects li {
  top: 0;
  left: 0;
  width: 220px;
  height: 44px;
  padding: 0 20px;
  z-index: 0;
  opacity: 0;
  transition: 350ms opacity 0ms;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  border-left: 0px solid #eee;
  transition: 200ms border-left 0ms;
}

.module .trigger ul.objects li:last-of-type {
  border-radius: 0 0 22px 22px;
}

.module .trigger ul.objects li:hover {
  border-left: 10px solid var(--primary-color);
  cursor: pointer;
}

.module .trigger:hover span {
  min-width: 220px;
  border-radius: 22px 22px 0 0;
  transition: 350ms border-radius 0ms, 700ms color 700ms, 350ms min-width 100ms;
  color: #cccccc;
}

.module .trigger:hover ul.objects {
  transform: scaley(1);
  transition: 350ms transform 350ms;
}

.module .trigger:hover ul.objects li {
  opacity: 1;
  transition: 350ms opacity 700ms;
}


.fa-caret-down {
  color: #cccccc;
  margin-left: 1rem;
}

.categories {
  color: black;
}

.errorMsg {
  color: #ff686b;
  font-size: 1.3rem;
}

.editSelected {
  background: rgb(50, 50, 50)
}