body {
  font-family: sans-serif;
  margin: 0;
}

#bgImg {
  max-width: 100vw;
  max-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: scaleX(-1);
  position: absolute;
  right: 0;
  top: 80px;
  z-index: -1;
}

#background-container {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

#form-container-1 {
  position: relative;
  width: 400px;
  height: max-content;
  align-self: center;
  text-align: center;
  background-color: rgba(255,255,255,0.2);
  border-radius: 20px;
  padding: 18px 3px;
  z-index: 999;
  display: flex;
  justify-content: center;

  /**/
  backdrop-filter: blur(0px);
  overflow: hidden;

  /* Before animation */
  opacity: 0.5;
  top: -700px;

  animation: 1.3s formInAnim cubic-bezier(.03,1.08,.71,.95) forwards;
}
@keyframes formInAnim {
  0% {
    opacity: .2;
    top: -700px;
    backdrop-filter: blur(0px);
  }

  100% {
    opacity: 2;
    top: 0;
    backdrop-filter: blur(30px) ;
  }
}
#form-container-1 .form-block {
  margin: 17px 0;
}
#form-container-1 .form-block label {
  font-family: "Consolas", monospace;
  display: block;
  padding-left: 8px;
  margin-bottom: 12px;
  font-size: 2em;
  color: #f2e9e4;
  text-align: left;
}
#form-container-1 .form-block input {
  font-size: 1.2em;
  padding:  8px ;
  width: 269px;
  height: max-content;
  border: none;
  border: 0px solid rgba(0,0,0,0.5);
  border-radius: 14px;
  background-color: rgba(255,255,255,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  transition: 0.1s all ease-in-out;
}

#form-container-1 > form input:focus {
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  outline: none;
}

::placeholder{
  color: #d6d6d6;
  font-size: 13px;
}

.registertitle{
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #ffcb77;
}

.subregistertitle{
  font-size: 13px;
}

.registerbtn{
  cursor: pointer;
  width: 135px;
  height: 45px;
  margin-top:9px;
  text-align: center;
  border:none;
  outline:none;
  background: black;
  color:white;
  font-weight:900;
  letter-spacing:4px;
  text-shadow: 0px 2px 0px rgba(0,0,0,0.6);
  transition: all 0.2s ease-in-out;
}

.registerbtn:hover{
  transform: scale(0.95);
  background-color: var(--primary-color);
}

.logintitle {
  font-weight: bold;
}

.signUpText {
  font-size: 13px;
  color: white;
  margin-bottom: 10px;
}

.logintitle:hover {
  color: var(--primary-color);
}
