/* Header class represents navbar as well */
.header
{
  background: black;
  display: flex !important;
  justify-content: space-around;
  flex-basis: auto;
  border-bottom: var(--border);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  white-space: nowrap;
}

.navbar {
  margin: 1.2rem auto;
}

.navbar-nav {
  margin: 0 auto;
}

/* logo on the navbar */
.img-fluid {
  height: 4.3rem;
  margin: auto 0;
}

.imglogo
{
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  height: 100%;
}

/* navbar size */
.navbar .navbar-nav a
{
  margin: 0 1rem;
  font-size: 1.4rem;
  color: #fff;
  padding-bottom: .5rem;
  border-bottom: .1rem solid transparent;
}

/* Navbar hover in primary color */
.navbar .navbar-nav a:hover
{
  color: var(--primary-color);
  border-bottom: .1rem solid var(--primary-color);
}


/* Icons will have the mouse pointer icon when hovered */
.icons div
{
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 4rem;
}

/* Icons will glow in primary color when hovered over */
.header .icons div:hover
{
  color: var(--primary-color);
}

/* the bootstrap icon hamburg sign */
/* may have to delete this if using stock bootstrap collapsed hamburg sign */
#menuBtn
{
  display: none;
}

/* Media resize -> if the web window is of a certain width, these will be applied */
@media (max-width:991px)
{

  .header .navbar.active{
    right: 0;
  }
  .imglogo
  {
    display: none;
  }
  .header .navbar
  {
    position: absolute;
    top: 100%; right: 0%;
    background: var(--primary-color);
    width: 30rem;
  }
  .header .navbar a
  {
    color: var(--black);
    display: block;
    margin: 1.5rem;
    padding: .5rem;
    font-size: 2rem;
  }
}
