<nav class="navbar">
  <div>
    <img src = "../../../assets/images/logo_transparent.png" class="img-fluid">
  </div>
  <!-- Animated hamburger icon when navbar collapses -->
  <input id="menu-toggle" type="checkbox"/>
  <label class="menu-button-container" for="menu-toggle">
    <div class="menu-button"></div>
  </label>
  <ul class="navbar-nav">
    <li class="nav-link" routerLink="home" routerLinkActive="active-link">Home Page
    </li>
    <li class="nav-link" routerLink="forum" routerLinkActive="active-link">Forums
    </li>
    <li class="nav-link" routerLink="report" routerLinkActive="active-link">Transactions Report
    </li>
    <li *ngIf="signedIn" class="nav-link" routerLink="profilepage" routerLinkActive="active-link">Account
    </li>
    <li *ngIf="!signedIn" class="nav-link" routerLink="login" routerLinkActive="active-link">Sign In
    </li>
    <li *ngIf="signedIn" class="nav-link" (click)="signOut()">Sign Out
    </li>
  </ul>
</nav>
