<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light py-lg-0">
  <div class="navbar-brand imglogo">
    <img src="../../../assets/images/logo_transparent.png" class="img-fluid">
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <!-- IMPORTANT NOTE: DO NOT PUT SPACING Example: instead of "Home" -> "Home Page"-->
        <a class="nav-link" routerLink="" routerLinkActive="active-link">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="feedback" routerLinkActive="active-link">Feedback</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="report" routerLinkActive="active-link">Report</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="" routerLinkActive="active-link">Account</a>
      </li>
    </ul>
  </div>
  <div class ="container icons">
    <!-- Icons got from Bootstrap Icons -> icons.getbootstrap.com -->
    <div class="row">
      <div class = "bi bi-list" id="menuBtn"></div>
    </div>
  </div>
</nav>

</header>
