<nav class="navbar">
  <div>
    <img src = "../../../assets/images/logo_transparent.png" class="img-fluid">
  </div>
  <!-- Animated hamburger icon when navbar collapses -->
  <input id="menu-toggle" type="checkbox"/>
  <label class="menu-button-container" for="menu-toggle">
    <div class="menu-button"></div>
  </label>
  <ul class="navbar-nav">
    <li class="nav-link" routerLink="" routerLinkActive="active-link">Home Page
    </li>
    <li class="nav-link" routerLink="feedback" routerLinkActive="active-link">Feedback Forum
    </li>
    <li class="nav-link" routerLink="report" routerLinkActive="active-link">Transactions Report
    </li>
    <li class="nav-link" routerLink="" routerLinkActive="active-link">Account
    </li>
  </ul>
</nav>
