*,
*:before, *:after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: bold;
}
* body
{
  height: 100vh;
}

/* this sets the overall container appreance and sizing */
.container
{
  background-color: #fff;
  width: 70%;
  min-width: 420px;
  padding: 35px 50px;
  transform: translate(-50%,-50%);
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 10px;
  box-shadow: 20px 30px 25px rgba(0, 0, 0, 0.15);
}

/* GET IN TOUCH title */
h1
{
  color: #1c093c;
  font-size: 30px;
  text-align: center;
}

/* paragraph appearance, position, margin, size */
p
{
  position: relative;
  margin: auto;
  width: 100%;
  text-align: center;
  color: #606060;
  font-size: 14px;
  font-weight: 400;
}

/* overall form width, position, margins */
form
{
  width: 100%;
  position: relative;
  margin: 30px auto 0 auto;
}

/* this enforces the row classes in the feedback form  */
.row
{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  grid-gap: 20px 30px ;
  margin-bottom: 20px;
}

/* This changes the appearance of said label for each label above the input fields */
label
{
  color: #1c093c;
  font-size: 14px;
}

/* This changes the overall appearance of the input text box field */
textarea, input
{
  width: 100%;
  font-weight: 400;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1.2px solid #c4cae0;
  margin-top: 5px;
}

/* text box field will remain the same width when the page resizes */
textarea
{
  resize: none;
}

/* click into text box and this effect plays */
textarea:focus, input:focus
{
  outline: none;
  border-color: var(--primary-color);
}
/* This is the submit form button */
.submit
{
  border: none;
  padding: 10px 20px;
  background: whitesmoke;
  border-radius: 4px;
}
/* Hovering over the submit form button will play this effect */
button:hover
{
  /* border-bottom: .1rem solid var(--primary-color); */
  background: var(--primary-color);
  color: white;
}

