<div class = "container">
  <h1>GET IN TOUCH</h1>
  <p>Have any questions or suggestions? Drop the Creator a message</p>
  <form [formGroup]="form" (ngSubmit)="feedbackSubmit()">
    <div class="row">
      <div class="column">
        <label for="name">Name</label>
        <input formControlName="name" type="text" id="name" placeholder="Your name here">
      </div>
      <div class="column">
        <label for="email">Email</label>
        <input formControlName="email" type="text" id="email" placeholder="Your email here">
      </div>
    </div>
    <div class="row">
      <div class="column">
        <label for="subject">Subject</label>
        <input formControlName="subject" type="text" id="subject" placeholder="Your message here">
      </div>
      <div class="column">
        <label for="number">Contact Number (Optional)</label>
        <input formControlName="phoneNumber" type="text" id="number" placeholder="Your phone number here">
      </div>
    </div>
    <div class="row">
      <div class="column">
        <label for="issue">Describe your issue</label>
        <textarea formControlName="description" id="issue" placeholder="Describe your issue in detail here" rows="3"></textarea>
      </div>
    </div>
    <button>Submit</button>
  </form>
</div>>
