<section class="container-fluid footer">
  <div class="footerlogo">
    <div class="links">
      <a routerLink="">Home</a>
      <a routerLink="forum">Forum</a>
      <a *ngIf="user === null" routerLink="register">Register</a>
      <a *ngIf="user === null" routerLink="login">Sign In</a>
      <a *ngIf="user !== null" routerLink="report">Transactions Report</a>
      <a *ngIf="user !== null" [routerLink]="['/profilepage', user.id]">Account</a>
    </div>
  </div>
  <div class="credit">Created by <span>Hong Rui</span> | All Rights Reserved</div>
</section>
