/* :root represents the top level element of HTML document */
:root
{
  --primary-color:#d3ad7f;
  --secondary-color:#FF1B1C;
  --black:#13131a;
  --bg:#010103;
  --border: .1rem solid rgba(255,255,255,.3)
}

/* To target the whole website */
*
{
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

html
{
  font-size:70%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

/* webkit to make the website feel better for user experience */
html::-webkit-scrollbar
{
  width: .8rem;
}
html::-webkit-scrollbar-track
{
  background: transparent;
}
html::-webkit-scrollbar-thumb
{
  background: #fff;
  border-radius: .5rem;
}

/* sets the whole web application to dark mode */
body
{
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: var(--bg)
}


/* overall website media resize */
@media(max-width:991px)
{
  html{
    font-size: 55%;
  }
  .header{
    padding: 1.5rem 2rem;
  }
}

